/* command_queue.css */
Screen {
    layout: grid;
    grid-size: 2 1;
    grid-gutter: 0 0;
    /* height: 100%; */
}

#left-pane {
    column-span: 1;
    border: round $accent;
}

#right-pane {
    column-span: 1;
    border: round $accent;
    display: block; /* Ensure children stack vertically */
}

Log {
    height: 1fr;
    border-bottom: dashed $accent;
}

#queue-list {
    height: 2fr; /* Takes up remaining space */
    border-bottom: hidden $accent;
}

#command-input {
    height: 1fr; /* Fixed height for the input */
    border: none;
    border-top: thick $accent; /* Add border only at the top */
}
